<header class="header">
<img src="assets/images/yoga.jpg">
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Yoga</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Types Of Yoga
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="setFilter('eye')">Eyes</a>
          <a class="dropdown-item" (click)="setFilter('stomuch')">Stomuch</a>
          <a class="dropdown-item" (click)="setFilter('height')">Height</a>
          </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teams
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://ratneshsinghportfolio.firebaseapp.com/">Ratnesh Kumar Singh</a>
          <a class="dropdown-item" href="http://vineet.club">Vineet Kumar</a>
         
        </div>
      </li>
    </ul> 
  </div>
</nav>
  
