.img{
    width: 100%;
}

.heading{
    font-family: 'Concert One', cursive;
    margin-top: 75px;
    padding-bottom: 5%;
}


.subheading{
    padding-bottom: 10px;
    margin-top: 10px; 
    font-family: 'Flamenco', cursive;
    font-size: 40px;
}

.steps{

    font-family: 'Mallanna', sans-serif; 
    text-align: justify;
}