.allyoga{

    padding-top: 100px;
    text-align: justify;
    
}

.steps{

    padding-top: 10px; 
}

.yogadata{
    padding-bottom: 80px;
}
.card{
    height: 100%;
    width: 100%;
}
.card>img{
    width: 100%;
}

.kl{

    position: absolute;
    bottom: 0;
    margin-bottom:10px;
    margin-left:30%;
}

.card-text{

    padding-bottom: 25px;

}
