<footer class="footer">
<div class="container">
  <div class="row">
      <div class="col-sm-4">
        <h5>About Us</h5>
        <p>Yoga is best for health.......to be continued</p>
        </div>
    <div class="col-sm-2">
        
      <ul class="footerli">
          <h5>Menu</h5>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul class="footerli">
          <h5>Quick Links</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
        <ul class="footerli">
            <li>Address : </li>
            <li>Email : </li>
        </ul>
      </div>
    
  </div>
</div>

</footer>
