
<footer class="page-footer font-small bg-dark">

  <div class="container text-center text-md-center">

    <div class="row">

      <div class="col-md-4 mx-auto">

        <h5 class="mt-3 mb-4">Map</h5>

        <i class="fab fa-facebook-square"></i>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="mt-3 mb-4">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="mt-3 mb-4">Links</h5>

        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="mt-3 mb-4">Address :</h5>

        <p>Gaur City 1 <br>
        1 Avenue Greater Noida</p>

      </div>
    </div>
  </div>
</footer>
<!-- Footer -->