.footer {

    padding-top: 50px;
}

.page-footer{

    color:white;
}
.footerli{

    list-style: none;
    
}

.list-unstyled>li>a {

    color: aliceblue;
    list-style: none;
    text-decoration: none;
    
}

.list-unstyled>li>a:hover {

    color:goldenrod;
}

